# NVIDIA API Configuration
NVIDIA_API_KEY=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
NVIDIA_MODEL=meta/llama-3.1-8b-instruct
NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1/chat/completions

# Database
DATABASE_PATH=/data/orsu.db

# Server
FRONTEND_PORT=3000
BACKEND_PORT=8000
DEBUG=False
